
  <!-- <h2 *ngif = "time == !0"> diem cua ban {{point}} </h2>
  <h2 *ngif = "time != 0"> ban dang choi game </h2>

  @if(this.time == 0 && this.point == 0){
    <h2> day la diem cua ban {{point}} </h2>
  } @else if (this.time == 0 && this.point != 0){
    <h2> ban dang choi game </h2>
  }@else{
    <h2> ban dang choi game</h2>
  } --> 

  <!-- <button>q</button>
  <button>w</button>
  <button>e</button>
  <button>r</button>
  <button>t</button>
  <button>y</button>
  <button>u</button>
  <button>i</button>
  <button>o</button>
  <button>p</button> -->

  <h1>Text: {{word}}</h1>
  <h2> Time: {{time}} </h2>
  <h2> Your text: </h2>
  <div> 
    <button (click)="startGame()">bat dau </button>
    <button (click)="changeWord()">thay doi chu </button>
  </div>
  
  <input type="text" [(ngModel)]= "input">
<div id="container">
  @for(row of buttons; track $index) { @if($index == 0){
    <div id="top">
      @for(letter of row.top; track $index) {
      <button> {{ letter }} </button>
    }
    </div> 
    } @else if($index == 1){
    <div id="middle">
      @for(letter of row.middle; track $index) {
      <button> {{ letter }} </button>
      }
    </div>
    }@else{
    <div id="bottom">
      @for(letter of row.bottom; track $index) {
      <button> {{ letter }} </button>
    }
    </div>
   }
  }
</div>

  
  <!-- <div *ngFor='let letter of buttons'; track $index>  
    <button> {{letter}} </button>
     </div> -->
